body {
    font-family: 'Poppins', serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    line-height: 1.6;
    font-size: 1.2rem;
}
span {
    display: block;
    margin: 10px auto;
    color: red;
}

img{
    width: 100%;
}

header, footer {
    background: rgb(13, 37, 63);
    padding: 15px ;
}

main {
    padding: 40px 0;
    text-align: center;
}

h1 {
    color: rgb(13, 37, 63);
    margin: 15px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
nav.flex {
    justify-content: space-between;
    align-items: center;
}

.movie {
    width: 200px;
    margin: 20px;
    text-align: center;
}

input {
    border: 1px solid transparent;
    padding: 8px 30px;
    border-radius: 50px;
}
input:focus {
    outline: none;
}

footer {
    color: #fff;
    text-align: center;
}

footer p {
    margin: 10px auto;
}

footer a {
    text-decoration: none;
    color: rgb(1, 180, 228);
    cursor: pointer;
}



/* @media (min-width: 1024px) {

} */

